<div class="row">
  <div class="container">
    <div class="logo">
      <img
        src="../../../assets/img/APLogo.png"
        id="logoAP"
        alt="Logo Argentina Programa"
      />
    </div>

    <div class="redes">
      <a href="https://github.com"
        ><img
          src="../../../assets/img/github.png"
          alt="GitHub logo"
          class="social_logo"
      /></a>
      <a href=""
        ><img src="../../../assets/img/facebook.png" alt="" class="social_logo"
      /></a>
      <a href=""
        ><img
          src="../../../assets/img/instagram.png"
          alt=""
          class="social_logo"
      /></a>
      <a href=""
        ><img src="../../../assets/img/linkedin.png" alt="" class="social_logo"
      /></a>
      <a href=""
        ><img src="../../../assets/img/twitter.png" alt="" class="social_logo"
      /></a>
    </div>

    <div class="dropdown">
      <!-- Default de Bootstrap webpage -->
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>
