.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#logoAP {
  width: 150px;
}

.social_logo {
  width: 50px;
  padding: 0px 5px;
}

button {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  button {
    margin: 20px;
  }
}
