<div>
  <a href="https://github.com"
    ><img
      src="../../../assets/img/github.png"
      alt="GitHub logo"
      class="social_logo"
  /></a>
  <a href=""
    ><img src="../../../assets/img/facebook.png" alt="" class="social_logo"
  /></a>
  <a href=""
    ><img src="../../../assets/img/instagram.png" alt="" class="social_logo"
  /></a>
  <a href=""
    ><img src="../../../assets/img/linkedin.png" alt="" class="social_logo"
  /></a>
  <a href=""
    ><img src="../../../assets/img/twitter.png" alt="" class="social_logo"
  /></a>
</div>
